VelibsIntermediary/VelibsClient/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/VelibsIntermediary/Velibs/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VelibsIntermediary" />
  <xs:element name="GetContracts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VelibsIntermediary" minOccurs="0" name="GetContractsResult" nillable="true" type="q1:ArrayOfCompositeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VelibsIntermediary" minOccurs="0" name="GetContractResult" nillable="true" type="q2:ArrayOfCompositeStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="station" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VelibsIntermediary" minOccurs="0" name="GetStationResult" nillable="true" type="q3:CompositeStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>